@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css or custom CSS file */
@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 60px));
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}
